<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crane Manifest Loading Page</title>
    
    <link rel="stylesheet" href="../static/css/manifest.css"/>
  </head>
  <body>

    <div class="main-box">
      <h1 id="header-message">File Upload</h1>

      <p id="main-text">Upload Manifest</p>
      <p><input id="file-selector" type="text" name="text-box"></p>
      <div id="button-box">
        <p><input id="quit-button" type="submit" value="Quit"></p>
        <p><input id="continue-button" type="submit" value="Continue"></p>
      </div>

    </div>

    <div class="footer">Powered by Team Fortnight</div>

  </body>

</html>